<div class="list-group-item list-group-item-action" (click)="onSelected()">
    <div class="row">
        <div class="col-sm-3">ID: {{ drug._id }}</div>
        <div class="col-sm-2">Type: {{ drug.MessageType }}</div>
        <div class="col-sm-2">DR: {{ drug.Prescriber.NonVeterinarian.Name.FirstName }}
            {{ drug.Prescriber.NonVeterinarian.Name.LastName }}</div>
        <div class="col-sm-3">DrugCode: {{ drug.MedicationPrescribed.DrugCoded.ProductCode.Code }}</div>
        <!-- <div class="col-sm-2">Relates#: {{ drug.RelatesToMessageID }}</div> -->
        <div class="col-sm-2" [ngClass]="{
            'bg-success': drugStatusEnum[drug.RequestStatus] === 'Approved',
            'bg-info': drugStatusEnum[drug.RequestStatus] == 'Pending',
            'bg-danger': drugStatusEnum[drug.RequestStatus] === 'Declined',
            'bg-danger': drugStatusEnum[drug.RequestStatus] === 'Canceled',
            'bg-warning': drugStatusEnum[drug.RequestStatus] === 'Failed' || drugStatusEnum[drug.status] === 'Error'
        }">
            STATUS: {{ drugStatusEnum[drug.RequestStatus] }}
            <a *ngIf="drugStatusEnum[drug.RequestStatus] !== 'Approved' && drugStatusEnum[drug.RequestStatus] !== 'Declined' && drugStatusEnum[drug.RequestStatus] !== 'Pending'"
                href="">
                <i class="material-icons">sync_problem</i>
            </a>
            <!-- <i class="material-icons">info</i> -->
        </div>
    </div>
</div>