<table class="table table-hover table-dark text-center table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Prescriber</th>
            <th scope="col">Drug Code</th>
            <th scope="col">Status</th>
            <th scope="col">Approve</th>
            <th scope="col">Cancel / Decline</th>
            <!-- <th scope="col">Responses</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let drug of allDrugs; let drugIndex = index" (click)="onSelected(drug)">
            <td>{{ drugIndex }}</td>
            <td>{{ drug._id }}</td>
            <td>{{ drug.MessageType }}</td>
            <td>{{ drug.Prescriber.NonVeterinarian.Name.FirstName }}</td>
            <td>{{ drug.MedicationPrescribed.DrugCoded.ProductCode.Code }}</td>
            <td appDrugStatusHighlight [highlightOn]=drugStatusEnum[drug.RequestStatus]>
                {{ drugStatusEnum[drug.RequestStatus] }}
            </td>
            <td>
                <button
                    *ngIf="drug.MessageType !== 'NewRx' && drug.MessageType !== 'newRxMessage' && drug.RequestStatus === 0"
                    class="btn btn-outline-success"
                    (click)="approve(drug, true)"
                    title="Send Approval Response">
                    <i class="material-icons">check_circle</i>
                </button>
            </td>
            <td>
                <button
                    *ngIf="drug.RequestStatus === 0"
                    class="btn btn-outline-danger"
                    (click)="cancel(drug)"
                    title="Send Cancel request or Decline Response">
                    <i class="material-icons">cancel</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>