img {
    width: 40px;
}

a {
    vertical-align: super;
    margin-left: 20px;
}

i {
    vertical-align: middle;
    color: white;
}

h3 {
    display: inline-block;
}

.left-content {
    margin-right: 0;
    padding-right: 0;
}

.right-content {
    margin-left: 0;
    padding-left: 0;
}