.navbar-dark .navbar-brand {
    font-size: 40px !important;
}

.left-content {
    margin-right: 0;
    padding-right: 0;
}

.right-content {
    margin-left: 0;
    padding-left: 0;
}

img {
    width: 40px;
}

i {
    vertical-align: middle;
    color: white;
}

h3 {
    display: inline-block;
}
